{
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "../tsconfig.json"
  },
  "extends": [
    "../.eslintrc",
    "plugin:@typescript-eslint/recommended"
  ]
}
