{
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "globals": {
    "process": true,
    "URL": true
  },
  "rules": {
    "semi": "warn"
  }
}
