$actionLinkColor: #717171;

.mt-header {
    width: 100%;
    height: 65px;
}

.mt-header__position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #dcdcdc;
    z-index: 100;
}

.mt-header__inner {
    display: flex;
    align-items: center;
}

.mt-header__brand {
    flex: auto;
}

.mt-header__logo {
    text-decoration: none;
}

.mt-header__actions {
    display: flex;
}

.mt-header__action {
    position: relative;
    height: 4rem;

    &:not(:last-child) {
        margin-right: 2rem;
    }
}

.mt-header__action-link {
    height: 100%;
    text-decoration: none;
    color: $actionLinkColor;
    display: flex;
    align-items: center;
    letter-spacing: 0.5;
    transition: color .25s ease;

    &:hover {
        color: darken($color: $actionLinkColor, $amount: 20%);
    }

    &:focus {
        outline: none;
    }

    &:hover:after {
        position: absolute;
        bottom: 0;
        border-top: 2px solid #24c6e3;
        content: '';
        display: block;
        transition: all 2s ease;
        opacity: 1;
        width: 100%;
    }
}
