$loaderColor: #1ac5e2;

.mt-loader {
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
    font-size: 10px;
    text-indent: -9999em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, $loaderColor 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, $loaderColor 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, $loaderColor 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, $loaderColor 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, $loaderColor 10%, rgba(255, 255, 255, 0) 42%);
    -webkit-animation: loading 1.5s infinite linear;
    animation: loading 1.5s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.mt-loader:before {
    width: 50%;
    height: 50%;
    background: $loaderColor;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.mt-loader:after {
    background: #ffffff;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
